<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "fonts/webfonts.css"}}" />

    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    <link rel="stylesheet" type="text/css" href="{{asset "css/custom.css"}}" />

    <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" />

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}
</head>

<body class="{{body_class}}">

    <header class="site-head">
        <div class="site-head-container">
            <a class="nav-burger" href="#">
                <div class="hamburger hamburger--collapse" aria-label="Menu" role="button" aria-controls="navigation">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
            <nav id="swup" class="site-head-left">
                <li class="site-head-left"><a href="/">American Leadership Foundation</a>
                </li>
            </nav>
            <div class="site-head-center">
                {{#if @site.logo}}
                    {{!--  <a class="site-head-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a> --}}
                {{else}}
                    {{!--  <a class="site-head-logo" href="{{@site.url}}">{{@site.title}}</a> --}}
                {{/if}}
            </div>
            <div class="site-head-right">
                {{navigation}}
            </div>
        </div>
    </header>

    <div class="site-wrapper">

        <main id="site-main" class="site-main">
            <div id="swup" class="transition-fade">

                {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
                {{{body}}}

            </div>
        </main>

        {{!-- The footer at the very bottom of the screen --}}
        <footer class="post-content">
            <p>
                The American Leadership Foundation, Inc. is a not-for-profit non-stock corporation based in Maryland.
                <br>
                Email us at: <a href="mailto: contact@usleadership.org">contact@usleadership.org</a>
            </p>
            <br>
            <p>Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a></p>
        </footer>

    </div>

    <script src="{{asset "built/swup.js"}}" data-swup-ignore-script></script>
    <script src="{{asset "built/infinitescroll.js"}}" data-swup-ignore-script></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
        </script>

    <div id="swup">
        {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
        {{{block "scripts"}}}

        {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
        {{ghost_foot}}
    </div>

    {{!-- Handle swup content replacement --}}
    <script data-swup-ignore-script>
        $(document).ready(function () {
            // Mobile Menu Trigger
            $('.nav-burger').click(function () {
                $('body').toggleClass('site-head-open');
            });
        });

        // Initiate Swup transitions
        var swup = new Swup({
            plugins: [new SwupHeadPlugin(), new SwupScriptsPlugin()],
        });
        document.addEventListener('swup:contentReplaced', event => {
            initInfiniteScroll(window, document);
            $('body').removeClass('site-head-open');
        });
    </script>

</body>

</html>