<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}

    <link rel="stylesheet" type="text/css" href="{{asset "built/style.css"}}" />

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}
</head>

<body class="{{body_class}}">

    <header class="site-head">
        <div class="site-head-container">
            <a class="nav-burger" id="nav-burger" href="#">
                <div class="hamburger hamburger--collapse" aria-label="Menu" role="button" aria-controls="navigation">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
            <nav class="site-head-left">
                <li class="site-head-left"><a href="/">American Leadership Foundation</a>
                </li>
            </nav>
            <div class="site-head-center">
                {{#if @site.logo}}
                    {{!--  <a class="site-head-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a> --}}
                {{else}}
                    {{!--  <a class="site-head-logo" href="{{@site.url}}">{{@site.title}}</a> --}}
                {{/if}}
            </div>
            <div class="site-head-right">
                {{navigation}}
                {{navigation type="secondary"}}
            </div>
        </div>
    </header>

    <main id="site-main" class="site-main">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

    </main>

    {{!-- The footer at the very bottom of the screen --}}
    <footer class="site-footer content-container">
        <section>
            <p>{{@custom.footer_text}}</p>
            <p>Email us at: <a href="mailto: contact@usleadership.org">contact@usleadership.org</a></p>
        </section>
        <section class="published-by-tag">
            <p>Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a></p>
        </section>
    </footer>

    <script src="{{asset "built/mobile-nav-menu.js"}}"></script>
    <script src="{{asset "built/about-nav-rollup.js"}}"></script>

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>

</html>
